<section class="main-content-register">
    <div class="container">
        <h1>Login Page</h1>

        <div class="row">
            <form class="col s12" ng-submit="vm.initiateLogin()" name="vm.loginForm">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" required="true" type="text" ng-model="vm.userData.username" name="username" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" required="true" ng-model="vm.userData.password" name="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 right-align">
                        <button ng-disabled="vm.loginForm.$invalid" class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div main-footer></div>