/* label color */
.input-field label {
    color: #1976d2;
}
/* label focus color */
.input-field input:focus + label.active {
    color: #263238;
}
/* label underline focus color */
.input-field .validate:focus,
.input-field .validate,
.input-field input[type=password]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid #455a64;
    box-shadow: 0 1px 0 0 #455a64;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #455a64;
    box-shadow: 0 1px 0 0 #455a64;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #455a64;
    box-shadow: 0 1px 0 0 #455a64;
}

nav {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.header-text {
    color: #09374c;
    font-size: 17px;
    padding: 0px 10px;
}
.modal.open {
    z-index: 1003;
    display: block;
    opacity: 1;
    transform: scaleX(1);
    top: 10%;
}