<div header-admin></div>
<section class="main-content-register">
    <div class="container">
        <h1>Board Page</h1>
    </div>

    <div class="row">
        <div class="col">
            <a class='btn' href='#createCardModal' modal>Create Card</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="createCardModal" class="modal">
        <div class="modal-content">
            <h4>Create Card</h4>
            <div input-field>
                <input type="text" class="modal-input" ng-model="vm.cardData.name" length="150">
                <label>Add Card Name</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" ng-click="vm.createCard()" class=" modal-action waves-effect waves-green btn-flat">Create Card</a>
            <a href="javascript:;" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div ng-show="vm.board.cards.length === 0 && !vm.ui.cardsLoading">
        <h1>You don't have any boards</h1>
    </div>

    <div class="row">
        <div class="col s12 m6" ng-repeat="card in vm.board.cards">
            <div class="card teal darken-3">
                <div class="card-content white-text">
                    <span class="card-title">{{card.name}}</span>
                </div>
                <div class="card-action">
                    <a href="javascript:;" ng-click="vm.showCardDetails(card, 'data')">View Card</a>
                    <a href="javascript:;" ng-click="vm.showCardDetails(card, 'edit')">Edit Card</a>
                    <a href="javascript:;" ng-click="vm.showCardDetails(card, 'delete')">Delete Card</a>
                </div>
            </div>
        </div>
    </div>

</section>

<card-modal-directive
        data-show="vm.ui.dataModal.show"
        data-title="{{vm.ui.dataModal.title}}"
        data-action="vm.showCardDetailData(item)"
        data-item="vm.ui.dataModal.item">
</card-modal-directive>

<edit-card-directive
        data-show="vm.ui.editModal.show"
        data-title="{{vm.ui.editModal.title}}"
        data-action="vm.editCardData(item)"
        data-item="vm.ui.editModal.item"
        data-type="Card">
</edit-card-directive>

<modal-directive
        data-show="vm.ui.modal.show"
        data-title="{{vm.ui.modal.title}}"
        data-action="vm.deleteCard(item)"
        data-item="vm.ui.modal.item">
</modal-directive>
<div main-footer></div>